label {
    margin: 2px;
    padding: 2px;
}

#select-container,
.selectElement {
    display: flex;
}

#select-container {
    flex-direction: column;
}

.selectElement {
    margin: 6px;
}

#public-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

#PlanContainer {
    margin-top: 2rem;
    height: 400px;
    width: 400px;
    border: 1px solid white;
}