body,
html {
    background-color: #1F1F1F;
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#public-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

#PlanContainer {
    height: 400px;
    width: 400px;
    border: 1px solid white;
}