<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../../static/assets/css/admin/manager.css"/>
    <link rel="stylesheet" href="../../../static/assets/css/select.css"/>
    <link rel="stylesheet" href="../../../static/assets/css/style.css"/>
</head>
<body>

<th:block th:fragment="navbar(user)">

    <h1>Administration</h1>

    <div id="nav">
        <a class="nav-el" th:href="@{/}">Accueil</a>
        <a class="nav-el" th:href="@{/auth/logout}">Se déconnecter (<th:block th:text="${user}"></th:block>)</a>
        <a class="nav-el" th:href="@{/manager/office}" id="officeAccessButton">Bureau</a>
        <a class="nav-el" th:href="@{/url}" id="UrlShortenerButton">URL Tool</a>
    </div>
</th:block>

<script src="../../../static/assets/js/lib/jquery.js"></script>
<script src="../../../static/assets/js/public-manager.js"></script>

</body>

</html>