<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../../static/assets/css/admin/manager.css"/>
    <link rel="stylesheet" href="../../../static/assets/css/select.css"/>
    <link rel="stylesheet" href="../../../static/assets/css/style.css"/>
</head>
<body>

<th:block th:fragment="plan-manager(user, plans, players)">

    <div id="addPlanContainer">

        <div id="commandContainer">
            <label for="rosterBox">Afficher liste joueurs:</label>
            <input type="checkbox" id="rosterBox" name="rosterBox" checked  style="margin-right: 1rem;">
            <label for="dropZoneBox" style="margin-left: 1rem;">Afficher dropzone:</label>
            <input type="checkbox" id="dropZoneBox" name="dropZoneBox"  style="margin-right: 1rem;">
            <label for="planListBox" style="margin-left: 1rem;">Afficher planList:</label>
            <input type="checkbox" id="planListBox" name="planListBox" checked>
        </div>

        <th:block th:replace="fragments/admin/plan-manager-fragments/planlist :: planlist(${plans})"/>

        <th:block th:replace="fragments/admin/plan-manager-fragments/editor :: editor(${players}, ${plans})"/>


    </div>

    <div id="previewContainer">

    </div>

</th:block>

<script src="../../../static/assets/js/lib/jquery.js"></script>
<script src="../../../static/assets/js/public-manager.js"></script>

</body>

</html>