<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/assets/css/public-manager.css"/>
    <link rel="stylesheet" href="../../static/assets/css/select.css"/>
</head>
<body>

    <th:block th:fragment="manager(logged, players)">
        <th:block th:if="${logged} == 'true'">
        
        <div id="admin-container">

        </div>

        </th:block>
        <th:block th:if="${logged} == 'false'">
            
        <div id="public-container">
            <h1>SMB Group Manager</h1>
            <a class="smbBtn" th:href="@{/auth/login}">Administration</a>
            <div id="select-container">
                <div class="selectElement">
                    <label for="RaidSelector">Raid: </label>
                    <select id="RaidSelector" class="select-css">
                        <option value="karazhan">Karazhan</option>
                        <option value="gruul_mag">Gruul/Mag</option>
                        <option value="ssc">SSC</option>
                        <option value="tempestKeep">TK</option>
                        <option value="hyjal">Hyjal</option>
                        <option value="blackTemple">Temple noir</option>
                        <option value="sunwell">Sunwell</option>
                    </select>
                </div>
                <div class="selectElement">
                    <label for="PlanSelector">Plan: </label>
                    <select id="PlanSelector" class="select-css">
                        <option value="default">default</option>
                    </select>
                </div>
            </div>      
            <div id="PlanContainer">
            
            </div>
            <div id="roster" style="display: none">
                <th:block th:each="player: ${players}">
                    <span th:classappend="${player.className} + '-color'" th:text="${player.name}"></span>
                </th:block>
            </div>
        </div>

        </th:block>
    </th:block>

    <script src="../../static/assets/js/lib/jquery.js"></script>
    <script src="../../static/assets/js/public-manager.js"></script>

</body>

</html>