<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="manager(isLogged)">
    <link rel='stylesheet' type='text/css' th:href="@{/assets/css/select.css}">

    <th:block th:if="${isLogged} == 'false'">
        <link rel='stylesheet' type='text/css' th:href="@{/assets/css/public-manager.css}">
    </th:block>

</th:block>

<th:block th:fragment="player-manager">
    <link rel="stylesheet" th:href="@{/assets/css/admin/player-manager.css}"/>
</th:block>
<th:block th:fragment="plan-manager">
    <link rel="stylesheet" th:href="@{/assets/css/admin/plan-manager.css}"/>
</th:block>

<th:block th:fragment="navbar">
    <link rel="stylesheet" th:href="@{/assets/css/admin/navbar.css}"/>
</th:block>




<body>
</body>

</html>