<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>


<div th:fragment="index"></div>

<th:block th:fragment="manager(isLogged, page)">

    <th:block th:if="${isLogged} == 'false'">
        <script th:src="@{/assets/js/public-manager.js}"></script>
    </th:block>

    <th:block th:if="${isLogged} == 'true'">

        <th:block th:if="${page} == 'player-manager'">
            <script th:src="@{/assets/js/admin/player-manager.js}"></script>
        </th:block>
        <th:block th:if="${page} == 'plan-manager'">
            <script th:src="@{/assets/js/lib/tiny/tinymce/tinymce.min.js}"></script>
            <script th:src="@{/assets/js/lib/tiny/tiny.js}"></script>
            <script th:src="@{/assets/js/admin/plan-manager.js}"></script>
        </th:block>
    </th:block>

</th:block>


</body>

</html>