<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="SMB Manager V2" />
    <meta name="author" content="Meiyo" />

    <title th:text="${title}"></title>

    <!-- Place your stylesheet here-->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" th:href="@{/assets/css/custom/skin.min.css}" />
</head>

<body>

    <th:block th:if="${page == 'manager'}">
        <th:block th:replace="fragments/content :: manager(${logged})" /></th:block>
    </th:block>

    <script th:src="@{/assets/js/tinymce/tinymce.min.js}" /></script>

    <div th:replace="fragments/script :: ${page}" /></div>

</body>

</html>