#admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: snow;
}

#nav {
    display: flex;
    flex-direction: row;
}

.nav-el{
    margin: 1rem;
    padding: 3px;
    border: 2px solid #006014;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(0, 58, 14);
}

.nav-el:hover{
    color: #070a0d;
    background-color: snow;
    border: 2px solid #070a0d;
    cursor: grab;
}

.nav-el:active {
    box-shadow: 2px 2px rgb(0, 58, 14);
    transform: translateY(2px);
}