#planSelectors {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#planSelectors select {
    max-width: 10rem;
}

#planSelectors>* {
    padding: 4px;
    margin: 4px;
}

#previewContainer {
    margin-top: 4rem;
    max-width: 80%;
    padding: 4rem;
    border: 1px solid #006014;
}

#roster,
#reorderPlan {
    display: none;
}

#rosterDisplay,
#editorContainer,
#commandContainer,
#planListContainer{
    display: flex;
    flex-direction: row;
}

#rosterMain,
#rosterReroll {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

#editorContainer,
#commandContainer {
    align-items: center;
    justify-content: center;
}

#planListContainer {
    margin: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #006014;
}

.downgrade:hover,
.upgrade:hover {
    color: red;
    cursor: grab;
}

.plan {
    padding: 4px;
    margin: 2px;
    background-color: #006014;
    box-shadow: 3px 3px 1px 1px #034912;
}

.plan:active {
    background-color: #034912;
    transition: transform translateY(1px);
}

.separator {
    margin: 1rem 0;
    border-top: 8px solid #034912;
    border-radius: 5px;
}