th{
    color: snow;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    padding: 5px;
}

tr:hover {
    background-color: darkgray;
    color: black;
}

th,
td {
    border-bottom: 1px outset #249305;
    text-align: center;
    padding: 3px;
    margin: 1px;
}

thead>tr>th,
th>*::placeholder {
    background-color: #006014;
    color: snow;
}


.warrior{
    background-color: #934c05;
    color: #fff;
}

.priest {
    background-color: #fff;
    color: #000;
}

.paladin {
    background-color: #c65eac;
    color: #fff;
}

.rogue {
    background-color: #d5d200;
    color: #000;
}

.hunter{
    background-color: #249305;
    color: #fff;
}

.mage {
    background-color: #118de6;
    color: #000;
}

.warlock {
    background-color: #7a00c6;
    color: #fff;
}

.shaman {
    background-color: #0050ff;
    color: #fff;
}

.druid {
    background-color: orange;
    color: #000;
}